@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@400;700 & display=swap');

:root{
    --primary-color : rgb(13, 72, 182);
    --primary-color-darker : rgb(238, 151, 20);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'open sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: rgb(248, 237, 237);
    padding: 20px;
    border-radius: 20px;
  
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border: 1px solid var(--primary-color);
}

form input:focus{
    outline: 2px solid black;
}

form button {
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: 700;
    height: 35px;
    cursor: pointer;
    margin-top: 20px;
}
form button:hover{
    background-color: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background-color: rgb(110, 241, 198);
    padding: 10px 20px;
}

.bad {
    background-color: rgb(250, 44, 44);
}